{% extends "::mail/layout.html.twig" %}

{% block ref %}
    {{ reference }}
{% endblock %}

{% block contentMail %}
    Bonjour {{ beneficiaire.consultant.civilite|capitalize~" "~beneficiaire.consultant.prenom|capitalize~" "~beneficiaire.consultant.nom|upper }}, <br>
    <br>
    <p>
        Nous venons de recevoir l'accord pour le financement de la VAE de
        <a href="{{ absolute_url(path('application_show_beneficiaire', { 'id' : beneficiaire.id })) }}">
            {{ beneficiaire.civiliteConso|capitalize~" "~beneficiaire.prenomConso|capitalize~" "~beneficiaire.nomConso|upper }}
        </a>. <br><br>

        Vous trouverez en PJ une proposition de Mission pour son accompagnement.<br><br>

        Cette proposition est valable 72h. <br>
        Si vous l'acceptez, veuillez imprimer le document, <u><b>le dater et signer</b></u>. <br>
        Ensuite, vous le téléchargez dans la rubrique « Mon compte » sur ENTHEO.<br><br>

        ENTHEOR procèdera alors à une vérification des pièces administratives. <br>
        Ne démarrez pas l'accompagnement avant votre dossier soit validé. <br>
        Nous vous informerons par un nouveau message que vous pouvez démarrer l'accompagnement. <br><br>

        Bien Cordialement
        <br>
        <br>
        <span>Christine Clément</span>
        <br>
        <a href="mailto:christine.clement@entheor.com">christine.clement@entheor.com</a>
        <br>
        <span>06 81 84 85 24</span>
    </p>
{% endblock %}