{# empty Twig template #}
{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block title %}Agenda{% endblock %}
{% block body %}
    <div class="container-fluid">
         <div class="row">
             <div class="col-md-12">
                 <table class="table table-striped">
                     <tr>
                         <td>Controlleur</td>
                         <td>{{parametre['lecontrolleur']}}</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>{{parametre['action']}}</td>
                     </tr>
                     <tr>
                         <td></td>
                         <td>{{parametre['functioncalendrier']}}</td>
                     </tr>
                     <tr>
                         <td>Api</td>
                         <td>{{parametre['api']}}</td>
                     </tr>
                 </table>
             </div>
         </div>
    </div>
{% endblock %}