!/app/config/parameters.yml
!/app/config/parameters_dev.yml
!/app/config/parameters_pre_prod.yml
/app/config/*
/app/config/parameters.yml
/app/config/parameters_dev.yml
/app/config/parameters_pre_prod.yml
/build/
/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/vendor/
/web/bundles/
/nbproject/private/
web/uploads/
/src/Application/PlateformeBundle/Services/Google_calendar_service/
