<div>
    {{ form_start(document_form) }}
    {{ form_widget(document_form.userDocuments.vars.prototype.documents.vars.prototype) }}
    {{ form_widget(document_form.userDocuments.vars.prototype) }}
    {{ form_rest(document_form) }}
</div>