{% extends "ApplicationPlateformeBundle::layout-pdf.html.twig" %}

{% block title %}{% endblock %}

{% block stylesheets %}
    
{% endblock %}

{% block content %}
    <div id="block_demande_financement" class='container'>
        <section class="block_section" id="salarie">  
            <h2 class='text-uppercase'>Le salarie</h2>
            
            <p>N° de Sécurité Sociale <span class='white_bg_field'>1</span> <span class='white_bg_field'>1</span> <span class='white_bg_field'>1</span> <span class='white_bg_field'>1</span></p>
            <div class="row">
                <span class='col-xs-1'>Nom</span> <span class='white_bg_field col-xs-5'>Lof</span>
                <span class='col-xs-2'>Nom de naissance</span> <span class='white_bg_field col-xs-4'>.</span>  
            </div><br>
            <div class="row">
                <span class='col-xs-1'>Prénom</span> <span class='white_bg_field col-xs-5'>Brice</span>
                <span class='col-xs-2'>Date de naissance</span> <span class='white_bg_field'>01</span> / <span class='white_bg_field'>04</span> / <span class='white_bg_field'>2011</span>  
            </div><br>
            <div class="row">
                <span class='col-xs-1'>Adresse</span> <span class='white_bg_field col-xs-11'>28 rue du fief</span>
            </div><br>
            <div class="row">
                <span class='col-xs-2'>Code Postal</span> <span class='white_bg_field col-xs-2'>75011</span>
                <span class='col-xs-1'>Ville</span> <span class='white_bg_field col-xs-3'>Paris 11ème</span> 
                <span class='col-xs-1'>Pays</span> <span class='white_bg_field col-xs-3'>France</span>
            </div><br>
            <div class="row">
                <span class='col-xs-2'>Tél.</span> <span class='white_bg_field col-xs-3'>0692601465</span>
                <span class='col-xs-1'>Courriel</span> <span class='white_bg_field col-xs-6'>b.lof@iciformation.fr</span>  
            </div><br>
            <div class="row">
                <span class='col-xs-1'>Emploi occupé</span> <span class='white_bg_field col-xs-11'>Responsable informatique</span>
            </div><br>
            <div class="row">
                <span class='col-xs-1'>Emploi occupé</span> <span class='white_bg_field col-xs-11'>Responsable informatique</span>
            </div><br>
        </section>
        <section class="block_section" id="entreprise">
            <h2 class='text-uppercase'>Son entreprise</h2>
        </section>
        <section class="block_section" id="projet">
            <h2 class='text-uppercase'>Projet de formation</h2>
        </section>
        <section class="block_section" id="tarif">
            <h2 class='text-uppercase'>Coût total de la formation</h2>
        </section>
        <section class="block_section" id="autre_financement">
            <h2 class='text-uppercase'>Autres financements en complément du cpf</h2>
        </section>
        <section class="block_section" id="pieces">
            <h2 class='text-uppercase'>Pièces à joindre à la présente demande</h2>
        </section>
        <section class="block_section" id="attestation">
            <h2 class='text-uppercase'>Attestation</h2>
        </section>
        <section id="a_savoir">
            <h2 class=''>A savoir</h2>
        </section>
        <section id="cep">
            <h2 class=''>Conseiller en évolution professionnelle (CEP)</h2>
        </section>
    </div>
{% endblock %}