imports:
    - { resource: parameters.yml }
    - { resource: security.yml }
    - { resource: services.yml }

# Put parameters here that don't need to change on each machine where the app is deployed
# http://symfony.com/doc/current/best_practices/configuration.html#application-related-configuration
parameters:
    locale: fr
    avatars_directory: '%kernel.root_dir%/web/uploads/avatars'
    export_csv_directory: '%kernel.root_dir%/../web/export/csv'
    web_directory: '%kernel.root_dir%/../web/'
    ressource_share_directory:  '%kernel.root_dir%/../web/uploads/ressource_share'
    host_name: 'https://appli.entheor.com/web'


framework:
    #esi:             ~
    translator:      ~
    secret:          "%secret%"
    router:
        resource: "%kernel.root_dir%/config/routing.yml"
        strict_requirements: ~
    form:            ~
    csrf_protection: ~
    validation:      { enable_annotations: true }
    #serializer:      { enable_annotations: true }
    serializer:
        enabled: true
    templating:
        engines: ['twig']
    default_locale:  "%locale%"
    trusted_hosts:   ~
    trusted_proxies: ~
    session:
        # http://symfony.com/doc/current/reference/configuration/framework.html#handler-id
        handler_id:  session.handler.native_file
        save_path:   "%kernel.root_dir%/../var/sessions/%kernel.environment%"
        # Session cookie lifetime à 0 = expire quand on ferme le navigateur
        cookie_lifetime: 0
    fragments:       ~
    http_method_override: true
    assets: ~

# Twig Configuration
twig:
    debug:            "%kernel.debug%"
    strict_variables: "%kernel.debug%"
    form_themes:
        - 'bootstrap_3_layout.html.twig'
        - '@FOSCKEditor/Form/ckeditor_widget.html.twig'
    paths:
        '%kernel.root_dir%/../src/Application/PlateformeBundle/Resources/views': Apb
        '%kernel.root_dir%/../src/Application/UsersBundle/Resources/views': Aub
    globals:
        # Informations générales
        adresse: '74 rue Maurice Flandin - 69003 - LYON'
        telephone: '04 37 28 59 28'
        email: 'contact@entheor.com'
        siret: '527 732 069 000 51'
        num_declaration_activite: '82691102369'
        # Fin Informations générales

        # RIB
        banque: 'CIC LYON REPUBLIQUE'
        code_banque: '10096'
        code_guichet: '18002'
        num_compte: '00086183801'
        cle_rib: '45'
        iban: 'FR76 1009 6180 0200 0861 8380 145'
        bic: 'CMCIFRPP'
        # Fin RIB

        # numero de tel christine
        tel_christine: '04 37 28 59 28'


# Doctrine Configuration
doctrine:
    dbal:
        driver:   pdo_mysql
        host:     "%database_host%"
        port:     "%database_port%"
        dbname:   "%database_name%"
        user:     "%database_user%"
        password: "%database_password%"
        charset:  UTF8
        # if using pdo_sqlite as your database driver:
        #   1. add the path in parameters.yml
        #     e.g. database_path: "%kernel.root_dir%/data/data.db3"
        #   2. Uncomment database_path in parameters.yml.dist
        #   3. Uncomment next line:
        #     path:     "%database_path%"

    orm:
        auto_generate_proxy_classes: "%kernel.debug%"
        naming_strategy: doctrine.orm.naming_strategy.underscore
        auto_mapping: true
        
fos_user:
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: Application\UsersBundle\Entity\Users
    registration:
        form:
            type: Application\UsersBundle\Form\UsersType
    profile:
        form:
            type: Application\UsersBundle\Form\ProfileType
    from_email:
        address: %mailer_user%
        sender_name: 'Brice'
    
# Swiftmailer Configuration
swiftmailer:

    #delivery_address: ['support.informatique@entheor.com']
    
    transport: "%mailer_transport%"
    auth_mode: "%mailer_auth_mode%"
    host:      "%mailer_host%"
    port:      "%mailer_port%"
    username:  "%mailer_user%"
    password:  "%mailer_password%"
    #encryption: "%mailer_encryption%"
    #spool:     { type: memory }

         
assetic:
    debug:          '%kernel.debug%'
    use_controller: '%kernel.debug%'
    filters:
        cssrewrite: ~
        jsqueeze: ~
        scssphp:
            formatter: 'Leafo\ScssPhp\Formatter\Compressed'

stof_doctrine_extensions:
    orm:
        default:
            sluggable: true
            
application_plateforme:
   google_calendar:
      application_name: "Google_calendar"
      #credentials_path: "%kernel.root_dir%/.credentials/calendar.json"
      #client_secret_path: "%kernel.root_dir%/web/client_secret.json"

knp_snappy:
    pdf:
        enabled: true
        #binary: "C:\\wkhtmltopdf\\bin\\wkhtmltopdf.exe"
        binary:  %kernel.root_dir%/../vendor/h4cc/wkhtmltopdf-amd64/bin/wkhtmltopdf-amd64
        options: []
    image:
        enabled: true
        binary: "C:\\wkhtmltopdf\\bin\\wkhtmltoimage.exe"
        options: []

fungio_google_calendar:
    google_calendar:
        application_name: "entheor"
        credentials_path: "%kernel.root_dir%/.credentials/calendar.json"
        client_secret_path: "%kernel.root_dir%/Resources/GoogleCalendarBundle/client_secret.json"
        
#doctrine_migrations:
 #   dir_name: "%kernel.root_dir%/DoctrineMigrations"
  #  namespace: Application\Migrations
   # table_name: migration_versions
    #name: Application Migrations

fos_rest:
    routing_loader:
        include_format: false
    view:
        view_response_listener: true
    format_listener:
        rules:
            - { path: '^/api/', priorities: ['json'], fallback_format: 'json' }
            - { path: '^/', priorities: [ 'html', '*/*'], fallback_format: html, prefer_extension: true }
    body_listener:
        enabled: true
    exception:
        enabled: true

nelmio_api_doc: ~

fos_ck_editor:
    configs:
        my_config:
            toolbar: full
            uiColor:                "#2494515"

nelmio_cors:
    paths:
        '^/api/':
            allow_origin: ['https://dev-wp.entheor.com']
            allow_headers: ['*']
            allow_methods: ['POST', 'PUT', 'GET', 'DELETE', 'OPTIONS']
            max_age: 3600