# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
   #app.maintenance_mode :
   #  class: Application\PlateformeBundle\Listener\MaintenanceListener
    # tags:
     #     - { name: kerner.event_listener, event: kernel.request, method: onKernelRequest }
   app.file_uploader:
       class: Application\PlateformeBundle\Services\FileUploader
       
   app.twig_extension:
       class: Application\UsersBundle\Twig\AppExtension
       public: false
       tags:
           - { name: twig.extension }
       arguments: 
            doctrine : '@doctrine'
            
   application_google_calendar:
       class: Application\PlateformeBundle\Services\GoogleCalendar
   
   application_users.getTypeUser:
       class: Application\UsersBundle\Services\getTypeUser
       #arguments: ["@doctrine.orm.entity_manager"]

   application_plateforme.text:
       class: Application\PlateformeBundle\Services\Text

   #application_users.type.user:
    #   class: Application\UsersBundle\Form\UsersType
    #   arguments: ["@doctrine.orm.entity_manager"]
    #   tags:
    #       - { name: form.type }