{% if results is defined %}
{% else %}
    {% extends "ApplicationPlateformeBundle::layout.html.twig" %}

    {% block header %}
        {% if (liste_beneficiaire | length > 0) or (results is defined) %}
            <div id="banner">
                {{ render(controller("ApplicationPlateformeBundle:Beneficiaire:search")) }}
            </div>
        {% endif %}
    {% endblock %}
{% endif %}

{% block body %}

    {% for info in app.session.flashbag.get('info') %}
        <div class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{ info }}
        </div>
    {% endfor %}

    {% if liste_beneficiaire | length > 0 %}
        {% include "ApplicationPlateformeBundle:Home:listeBeneficiaire.html.twig" %}
    {% else %}
        <div class="jumbotron">
            {% if results is defined %} 
                {% if results | length < 1 %} <p class="">Aucun résultat trouvé</p> {% endif %}
            {% else %}
                <p class="">Vous n'avez pas encore de bénéficiaires attribués</p>
            {% endif %}
        </div>      
    {% endif %}
{% endblock %}