application_mission_admin_index:
    path:     /admin
    defaults: { _controller: "ApplicationUsersBundle:Mission:adminIndex" }
    options:
        expose:  true

application_mission_add_document:
    path:     /addDocument/{id}
    defaults: { _controller: "ApplicationUsersBundle:Mission:addDocument" }
    options:
        expose:  true

application_mission_decline:
    path:     /declineMission/{id}
    defaults: { _controller: "ApplicationUsersBundle:Mission:decline" }
    options:
        expose:  true

application_mission_revoke:
    path:     /revokeMission/{id}
    defaults: { _controller: "ApplicationUsersBundle:Mission:revoked" }
    options:
        expose:  true

application_mission_state:
    path:     /state/{state}/{id}
    defaults: { _controller: "ApplicationUsersBundle:Mission:state" }
    options:
        expose:  true

application_mission_contrat:
    path:     /getContrat/{id}
    defaults: { _controller: "ApplicationUsersBundle:Mission:downloadContratMission" }
    options:
        expose:  true

application_mission_get_list:
    path:     /getList/{state}/{page}/{idConsultant}
    defaults: { _controller: "ApplicationUsersBundle:Mission:getList" , idConsultant : null}
    options:
        expose:  true
