<div>
    <table class="table">
        <thead>
        <tr>
            <th>État</th>
            <th>Consultant</th>
            <th>Bénéficiaire</th>
            <th>Motif</th>
            <th>Date</th>
        </tr>
        </thead>
        <tbody id="tbody_mission_archive" data-page="0">
        {% include "ApplicationUsersBundle:MissionArchive:list.html.twig" %}
        </tbody>
    </table>
</div>
{% if next == true  %}
    <div>
        <a href="#" id="next_page" onclick="chargeNextMissionArchive(event)">Voir suivants >></a>
    </div>
{% endif %}
<div>
    <a href="{{ path('application_csv_getListMissionArchive') }}">
        <img src="{{ asset('images/icon_excel.png') }}" alt="excel" width="20">
    </a>
</div>