{% extends "ApplicationPlateformeBundle::layout.html.twig" %}
{% block title %}Bureaux{% endblock%}
{% block body %}

    <div class="container-fluid">
        <div class="row">
            <div class="page-header col-md-12">
                <div class="row">
                    <h1 class="col-md-12">Gestion - Bureaux<br><small>Modifier le bureau <span class="text-primary">{{ bureau.nombureau }}</span></small></h1>
                </div>
            </div>
        </div>
        <div class="row">
            {% include "ApplicationPlateformeBundle:Bureau:form.html.twig" %}
        </div>
    </div>

{% endblock %}
{% block javascripts %}
    {% javascripts filter="?jsqueeze"
        '@ApplicationPlateformeBundle/Resources/public/js/bureau.js' %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock%}