<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Test Bilan de Compétences : est-ce fait pour vous ? Les Centres Près de chez Vous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <style type="text/css">
        @media only screen and (max-width: 620px) {.conteneur{margin: 5px;text-align:center;flex-direction: column;}}
        @media only screen and (max-width: 620px) {.button{float: none}.col{min-width: 280px;text-align: center}.conteneur div{width:100%;margin-bottom:12px}}
    </style>
</head>
<body style="margin:0;padding:0;background: #e4e4e4;font-family: Arial;font-size: 15px;color: #867d85;">
<header style="width: 95%;max-width: 780px;margin: 10px auto;margin-bottom:0px;font-family: arial;background: #FFF;border-collapse: collapse;padding-top:20px;padding-bottom:0px;">
    <center>
        <a href="http://www.iciformation.fr?fromExt=Emailing-BDC-2016-10" style="margin-top: 20px auto;" target="_blank" >
            <img src="http://www.iciformation.fr/img/logo1.jpg" alt="ICI Formations" width="300px" style="padding-top:20px"/>
        </a>
    </center>
</header>

<section style="width: 95%;max-width: 780px;margin: 1px auto;margin-top:0px;margin-bottom:0px;background: #FFF;border-collapse: collapse;padding-top:20px;">
    <div style="margin-left: 8%;margin-right: 8%;margin-top: 0px">
        <hr style="border-color: rgba(134, 125, 133, 0.24);">
    </div>

    <div class="conteneur" style="display:inline-block;margin-left: 8%;margin-right:8%;margin-bottom: 0px;padding-bottom: 30px;margin-top: 5px;padding-top: 10px;">
        <div style="width: 43%;float: left">
            <a href="http://www.iciformation.fr/test-gratuit-bilan-de-competences-financement.html?fromExt=Emailing-BDC-2016-10" target="_blank">
                <img class="image" src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/Fotolia.jpg" alt="TEST - Bilan de compétences" width="250px">
            </a>
        </div>
        <div class="col" style="width: 43%;float: left;">
            <a style="text-decoration:none" href="http://www.iciformation.fr/test-gratuit-bilan-de-competences-financement.html?fromExt=Emailing-BDC-2016-10" target="_blank">
                <p style="font-size:20px;color: #025d80;font-weight: bold;padding-top: 0px;margin-top: 0px;">
                    TEST - Bilan de compétences: est-ce fait pour vous ?
                </p>
            </a>
            <p>
                1 minute pour savoir si vous pouvez bénéficier d'un financement à 100% de votre bilan. <br>
                Faites le test !
            </p>
            <a class="button" href="http://www.iciformation.fr/test-gratuit-bilan-de-competences-financement.html?fromExt=Emailing-BDC-2016-10" style="float: right;" target="_blank"><img src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/bouton.png" alt="valider"></a>
        </div>
    </div>

    <div style="margin-left: 8%;margin-right: 8%">
        <hr style="border-color: rgba(134, 125, 133, 0.24)">
    </div>

    <div class="conteneur" style="margin-top: 5px;padding-top: 10px;margin-bottom: 10px;display:inline-block;margin-left: 8%;margin-right: 8%">
        <div style="width: 43%;float: left">
            <a href="http://www.iciformation.fr/article-1852-prix-d-un-bilan-de-competences-les-tarifs-varient-selon-votre-situation.html?fromExt=Emailing-BDC-2016-10" target="_blank">
                <img class="image" src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/assurance-vie.jpg" alt="Combien coûte un Bilan et comment le financer ?" width="250px">
            </a>
        </div>
        <div class="col" style="width: 43%;float: left;">
            <a style="text-decoration:none" href="http://www.iciformation.fr/article-1852-prix-d-un-bilan-de-competences-les-tarifs-varient-selon-votre-situation.html?fromExt=Emailing-BDC-2016-10" target="_blank">
                <p style="font-size:20px;color: #025d80;font-weight: bold;padding-top: 0px;margin-top: 0px;">
                    Combien coûte un Bilan et comment le financer ?
                </p>
            </a>
            <p>
                CIF ou Plan de formation, selon votre situation professionnelle, il existe plusieurs dispositifs pour financer un bilan de compétences.
            </p>
            <a href="http://www.iciformation.fr/article-1852-prix-d-un-bilan-de-competences-les-tarifs-varient-selon-votre-situation.html?fromExt=Emailing-BDC-2016-10" style="float: right" target="_blank"><img src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/bouton.png" alt="valider""></a>
        </div>
    </div>

    <div>
        <a href="http://www.iciformation.fr/bilans-de-competences.html?fromExt=Emailing-BDC-2016-10" target="_blank" style="padding: 0px; margin:0px; width: 100%">
            <img src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/comparer_5.png" alt="Bilan de compétence" width="100%"/>
        </a>
    </div>

    <div class="conteneur" style="display:inline-block;margin-left: 8%;margin-right:8%;margin-bottom: 0px;padding-bottom: 30px;margin-top: 5px;padding-top: 10px;">
        <div style="width: 43%;float: left">
            <a href="http://www.iciformation.fr/article-1749-bilan-de-competences-comment-choisir-un-centre.html?fromExt=Emailing-BDC-2016-10" target="_blank" >
                <img class="image" src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/centre.jpg" alt="Bilan de compétences : comment choisir un centre ?" width="250px">
            </a>
        </div>
        <div class="col" style="width: 43%;float: left;">
            <a style="text-decoration:none" href="http://www.iciformation.fr/article-1749-bilan-de-competences-comment-choisir-un-centre.html?fromExt=Emailing-BDC-2016-10" target="_blank" >
                <p style="font-size:20px;color: #025d80;font-weight: bold;padding-top: 0px;margin-top: 0px;">
                    Bilan de compétences : comment choisir un centre ?
                </p>
            </a>
            <p>
                Toutes les questions à poser pour choisir le consultant qui vous accompagnera dans votre démarche de bilan de compétences
            </p>
            <a href="http://www.iciformation.fr/article-1749-bilan-de-competences-comment-choisir-un-centre.html?fromExt=Emailing-BDC-2016-10" style="float: right" target="_blank" ><img src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/bouton.png" alt="valider"></a>
        </div>
    </div>
</section>
<footer style="width: 95%;max-width: 780px;margin: 15px auto;margin-top:0px;font-family: arial;background: #FFF;border-collapse: collapse;">
    <a href="http://www.iciformation.fr?fromExt=Emailing-BDC-2016-10" style="padding: 20px auto;" target="_blank" >
        <img src="http://www.iciformation.fr/img/newsletter/20-10-16_BDC/footer.png" alt="Bilan de compétence" width="100%"/>
    </a>

</footer>
</body>