<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="fr" lang="fr">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Test Bilan de Compétences : est-ce fait pour vous ? Les Centres Près de chez Vous</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <style type="text/css">
        @media only screen and (max-width: 620px) {.conteneur{margin: 5px;text-align:center;flex-direction: column;}}
        @media only screen and (max-width: 620px) {.button{float: none}.col{min-width: 280px;text-align: center}.conteneur div{width:100%;margin-bottom:12px}}
    </style>
</head>
<body style="margin:0;padding:0;background: #e4e4e4;font-family: Arial;font-size: 15px;color: #867d85;">
<div>
    <p>
        ici l'email facture solde
    </p>
</div>
</body>
</html>