application_plateforme_get_ville_ajax:
    path: /api/ville
    defaults:
        _controller: ApplicationPlateformeBundle:Ville:getVille
    options:
        expose: true

application_plateforme_agenda_evenement:
    path:     /agenda/evenements
    defaults: 
        _controller: ApplicationPlateformeBundle:Agenda:evenement
        
application_plateforme_agenda:
    path:     /agenda
    defaults: 
        _controller: ApplicationPlateformeBundle:Agenda:agendas
        
autocompletion_agenda:
    path:     /autocompletion
    defaults: 
        _controller: ApplicationPlateformeBundle:Agenda:autocompletions
        
delete_evenement:
    path:     /deleteevenement
    defaults: 
        _controller: ApplicationPlateformeBundle:Agenda:deleteevenement
    options:
        expose: true
        
application_plateforme_detail_statut:
    path:     /detail_statut/{idStatut}
    defaults: 
        _controller: ApplicationPlateformeBundle:Home:detailStatut

    options:
        expose: true

application_plateforme_received_mer:
    path:     /received_mer
    defaults: 
        _controller: ApplicationPlateformeBundle:Webservice:index 

#beneficiaire
application_plateforme_beneficiaire:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/beneficiaire.yml"
    prefix:   /beneficiaire

#pdf
application_plateforme_pdf:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/pdf.yml"
    prefix:   /pdf

#suivi administratif
application_plateforme_suivi_administratif:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/suiviAdministratif.yml"
    prefix:   /suivi-administratif

#accompagnement
application_plateforme_accompagnement:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/accompagnement.yml"
    prefix:   /accompagnement

#historique
application_plateforme_historique:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/historique.yml"
    prefix:   /historique

#news
application_plateforme_news:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/news.yml"
    prefix:   /news

#financeur
application_plateforme_financeur:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/financeur.yml"
    prefix:   /financeur

#ville
application_plateforme_ville:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/ville.yml"
    prefix:   /ville

#bureau
application_plateforme_bureau:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/bureau.yml"
    prefix:   /bureau

#document
application_plateforme_document:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/document.yml"
    prefix:   /document

# Alerte 
application_plateforme_alerte:
    resource: "@ApplicationPlateformeBundle/Resources/config/routing/alerte.yml"
    prefix:   /alerte
    
#homepage
application_plateforme_homepage:
    path:     /{page}
    defaults: 
        _controller: ApplicationPlateformeBundle:Home:index 
        page:        1
        requirements:
        page: \d*
    options:
        expose: true


