services:
#    application_plateforme.example:
#        class: Application\PlateformeBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]

    application_plateforme.mail:
        class: Application\PlateformeBundle\Services\Mailer
        arguments: ["@mailer", "@templating", "@doctrine.orm.entity_manager", "@application_plateforme.date", %web_directory%, %host_name%]


    ## DEBUT : Notification lors de la création/mise à jour d'entités lié à la fiche bénéficiaire
    application_doctrine_listener_update:
               class: Application\PlateformeBundle\DoctrineListener\LifecycleEventListener
               arguments: ["@service_container"]
               tags:
                 - { name: doctrine.event_listener, event: postUpdate }
                 - { name: doctrine.event_listener, event: postPersist }
                 - { name: twig.extension }
    ## FIN : Notification lors de la création/mise à jour d'entités lié à la fiche bénéficiaire

    daterange.validator:
        class: Application\PlateformeBundle\Validator\Constraints\DateRangeValidator
        tags:
            - { name: validator.constraint_validator, alias: daterange_validator }

    application_plateforme.document:
        class: Application\PlateformeBundle\Services\Document
        arguments: ["@doctrine.orm.entity_manager", "@knp_snappy.pdf"]

    application_plateforme.calendar:
        class: Application\PlateformeBundle\Services\Calendar
        arguments: ["@doctrine.orm.entity_manager", "@fungio.google_calendar", "@application_plateforme.statut.mail.mail_rv_agenda", "@router"]

    application_plateforme.twig.document.extesion:
        class: Application\PlateformeBundle\Twig\DocumentExtension
        arguments:
            - "@application_plateforme.document"
        tags:
            - { name: twig.extension }
    
    application_plateforme.date:
       class: Application\PlateformeBundle\Services\Date
       arguments: ["@doctrine.orm.entity_manager"]

################################################################################
###################################  STATUT  ###################################
################################################################################
    
    application_plateforme.statut.add_statut:
       class: Application\PlateformeBundle\Services\Statut\AddStatutBdd
       arguments: ["@doctrine.orm.entity_manager"]
       
    application_plateforme.statut.cron.rv:
        class: Application\PlateformeBundle\Services\Statut\Cron\Rv
        parent: application_plateforme.mail
    
    application_plateforme.disponibilite.cron.dispo:
        class: Application\PlateformeBundle\Services\Disponibilite\Cron\Dispo
        parent: application_plateforme.mail
        
    application_plateforme.statut.mail.mail_rv_agenda:
        class: Application\PlateformeBundle\Services\Statut\Mail\MailRvAgenda
        parent: application_plateforme.mail
        
    application_plateforme.statut.mail.mail_for_statut:
        class: Application\PlateformeBundle\Services\Statut\Mail\MailForStatus
        parent: application_plateforme.mail

    application_plateforme.statut.cron.cron_beneficiaire:
        class: Application\PlateformeBundle\Services\Statut\Cron\CronBeneficiaire
        arguments: ["@service_container"]

    application_plateforme.csv:
        class: Application\PlateformeBundle\Services\Csv
        arguments: ["@doctrine.orm.entity_manager"]

    application_plateforme.form.recherche:
        class: Application\PlateformeBundle\Form\RechercheBeneficiaireType
        arguments: ['@security.token_storage']
        tags:
            - { name: form.type }

    application.beneficiary_factory:
        class: Application\PlateformeBundle\Factory\BeneficiaryFactory

    application.beneficiary:
        class:   Application\Entity\Beneficiaire
        # call a method on the specified factory service
        factory: 'application.beneficiary_factory:createBeneficiary'
        arguments: ["@doctrine.orm.entity_manager"]

    application.bureau_handler:
        class:   Application\PlateformeBundle\Form\Handler\BureauHandler
        arguments: ['%bureau_image_directory%']

################################################################################
###################################  FACTURE  ##################################
################################################################################

    application_plateforme.facture.cron.status:
            class: Application\PlateformeBundle\Services\Facture\Cron\CronFactureStatus
            parent: application_plateforme.mail