<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<style>
			html{background-color:#dedede;padding-top:10px;padding-bottom:10px;}
			body{ width:65%; margin:auto;background-color:white; }
			header, footer{ text-align:center;padding-top:20px;padding-bottom:20px; }
			#content{ padding:25px; margin:auto; }
		</style>
    </head>
<body>
    
    <header> 
        <aside style="float:right;">{% block ref %}{% endblock %}</aside>
        <img src="http://dev.application.entheor.com/web/images/logo_entheor.jpg" width="220px" alt="Entheor" />
    </header>
        
    <div id="content" style="margin-top:-20px">
            {% block contentMail %}
            {% endblock %}
    </div>

    <footer>
        <p>
            3 rue Denuzière - 69002 - Lyon <br>
            Enthéor SAS - Siret : 52773206900028
        </p>
    </footer>  

</body>
</html>