/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 21 nov. 2016, 18:09:13
    Author     : brice_000
*/

/*---------------------------- Formulaire ajout news bénéficiaire -----------------------------*/
.formulaire_add_news h3, .formulaire_add_news p {
    text-align: center;
}
.formulaire_add_news h3{
    color:#428bca;
    font-size:17px;
    margin-top:0;
}
.formulaire_add_news #nom_prenom_beneficiaire{
    font-size:19px;
}