table{
    font-size: 12px;
}
.bold{
    font-weight: bold;
}
.text-lg{
    font-size: 30px;
}
.text-md{
    font-size: 23px;
}
.btn{
    padding: 2px 12px;
}
.horaire{
    width: 100%!important;
}
.form-control{
    font-size: 12px;
    padding: 0 6px;
    height: 25px;
    float: right;
}
input.form-control{
    width: 50px;
    text-align: right;
}
.form-group{
    margin: 0;
}
.height-30{
    height: 30px;
}

.glyphicon{
    font-size: 20px;
    color: black;
}
.dropdown-menu{
    left: 15px;
}
.table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td {
    padding: 3px !important;
}
#choice_week{
    width: 340px;
}
.valider button{
    background-color: #454545;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
}
a.disabled {
    pointer-events: none;
}
a.disabled span{
    color: #80808040;
}