#block_form_facture{
    border:1px solid #dedede;
    width:80%;
    margin:auto;
    padding: 20px 45px 25px 45px;
}

#num_facture{
    text-align:center;
    margin-top: 28px;
    margin-bottom: 28px;
}

.blue_text{
    color: #4a44b2;
}

#solde{
    border:2px solid;
    padding: 14px 0px 34px 0px;
    margin-top: 22px;
    margin-bottom: 40px;
}

#rib{
    border:2px solid;
    padding: 10px 20px;
}

#footer{
    background-color:rgba(168, 215, 0, 0.89);
    padding: 10px 10px;
    margin-top: 50px;
}


/* Filtre facture */
#filtre_facture .form-control{
    width:86%;
    height: 25px;
    font-size: 11px;
}
#filtre_facture .control-label{
    font-size: 12px;
}

#filtre_facture .row{
    margin-bottom:-14px;
}