.champ_agenda div.form-group{
    display: inline-table;
    width: 48%;
}
.radio{
    display: inline-block;
    width: 30%;
    margin-left: 10%;
}
#form_admin_event .form-group{
    margin-bottom: 0px;
}
.calendar{
    margin-left: 1%;
}
.calendar .row{
    margin-right: 0px;
}
.calendar .tableOnglet{
    background-color: #e4e4e4;
    margin-left: 0px;
    margin-top: 52px;
}
.calendar input, .calendar select{
    padding-top: 1px;
    padding-bottom: 1px;
}
.calendar .valider{
    margin-top: 30px;
}
.calendar .form-control{
    height: 25px;
}
.calendar label{
    margin-bottom: 0px;
}
.caption_calendar{
    background-color: #668cd9;
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    color: #f6f6f6;
    text-align: center;
}
.caption_calendar a{
    color: white;
}
.caption_calendar a:link{
    text-decoration: none;
}
.calendar_consultant{
    color: #668cd9;
    font-size: 18px;
    font-weight: bold;
}
#collapseEvent{
    margin: 2%;
    margin-left: 7%;
}
#collapseEvent h2{
    margin-top: 0px;
}
.calendar h2{
    font-size: 16px;
    margin-top: 0px;
}
#admin_calendar_consultant_consultant{
    width: 300px;
}
#admin_calendar{
    display: none;
}
.calendar .error{
    font-size: 12px;
}
.calendar .radio{
    margin-bottom: 0px;
}
.calendar .checkbox{
    margin-bottom: 5px;
}
#champs_date_dispo{
    width:215px;
    min-width: 215px;
    margin-right: 8px;
}
#champs_debut_dispo{
    width: 135px;
    min-width: 135px;
}
#dispo{
    margin-bottom: -20px;
}
#champs_fin_dispo{
    width: 135px;
    min-width: 135px;
    margin-right: 7px;
}
#champs_ville_dispo{
    width: 195px;
    min-width: 195px;
    vertical-align: middle;
}
#champs_ville_dispo .form-control{
    width: 100%;
}
#champs_submit_dispo .form-group{
    margin-bottom: 0px;
}
#form_dispo{
    margin-top: -9px;
    width: 715px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    background-color: #e4e4e4;
    padding-top: 13px;
}
#form_dispo div{
    display: inline-block;
    vertical-align: middle;
}
#form_dispo label{
    float: left;
}
#champs_submit_dispo{
    display: block !important;
}
#champs_submit_dispo button{
    background-color: #336f33;
    color: white;
}
#application_plateformebundle_disponibilites_submit{
    margin-top: -7px;
}
.disponibilite{
    margin-top: 10px;
    margin-bottom: 30px;
}
#application_plateformebundle_disponibilites_date select{
    padding: 2px;
    width: 70px;
}