.table-bordered{
    border: none;
}
.table-bordered>tbody>tr>td{
    border: none;
}
.glyphicon{
    margin: 0 5px;
    cursor: pointer;
}
.glyphicon-ok{
    color: green;
}
.glyphicon-remove{
    color: red;
}