body{
    font-family: Calibri;
    font-size: 12px;
}

.titre{
    font-family: Tahoma;
    font-size: 16px;
    width: 100%;
    border-bottom: 1px solid blue;
    color: grey;
    font-weight: bold;
    padding-bottom: 5px;
}

.logo_entheor{
    margin-bottom: 25px;
}

.sous-titre_1{
    font-size: 14px;
    font-weight: bold;
}
.sous-titre_2{
    font-size: 13px;
    font-weight: bold;
}

.tiret_liste{
    margin-right: 15px;
}

.liste{
    margin-bottom: 40px;
}

#engagement p{
    margin-top: 50px;
}

#methodologie p{
    margin-top: 50px;
}

#titre_devis{
    text-align: center;
    background-color: lightgrey;
}

.page_devis div{
    float: left;
    display: inline-block;
}

#table_devis div{
    margin-top: 12px;
}

#condition{
    font-size: 11px;
}
#condition span{
    font-size: 10px;
    font-weight: bold;
}

#titre_devis{
    font-size: 22px;
}