.loading{
    background:url('../images/loading.gif')center no-repeat;
    height: 218px;
}

.navbar-static-top{
    margin-bottom: 8px;
}

#banner{

}

#rechercherPlus{
    display: none;
}

.valider{
}

.valider button{
    background-color: #454545;
    color: white;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}

#espace_documentaire_submit{
    margin-right: 50px;
    float: right;
    margin-top: -46px;
    background-color: #454545;
    color: white;
}

.sectionBeneficiaire table tbody tr td:first-of-type{
    margin-top:10px;
    margin-left: 30px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
}

.sectionBeneficiaire .glyphicon-plus{
    float: left;
    font-size: 9px;
}
.sectionBeneficiaire .glyphicon-minus{
    float: left;
    font-size: 9px;
}

#newDocumentsForm{
    margin-top:10px;
    margin-left: 30px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
}

.sectionBeneficiaire a:link{
    color:#fbfbfb;
    text-decoration: none;
    display: block;
    width: 100%;
}

.sectionBeneficiaire #espace_documentaire a:link{
    color: black;
}

.sectionBeneficiaire{
    font-size: 12px;
    margin: 3%;
    /*margin-top: -50px;*/
}

.form-control{
    width: 95%;
    font-size: 13px;
}

.tableOnglet{
    width: 100%;
    border: 1px solid rgba(232, 227, 227, 0.59);
    margin-bottom: 10%;
    background-color: rgba(228, 228, 228, 0.45);
}

.tableOnglet table{
    width: 100%;
    border-collapse: collapse;
    empty-cells: hide;
}

.tableOnglet tr label{
}

#afficheBeneficiaire{
    width: 100%;
}


.titreSection{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: #50a60d;
    color: #f6f6f6;
    text-align: center;
}
.tableSection{
    text-decoration: underline;
}

.newsBoucle{
    margin-bottom: 5px;
    border: 1px solid;
}

#tabNews{
    height: 370px;
    overflow: hidden;
}

.newsBoucle > div{
    top: 7px;
}
.newsBoucle .glyphicon{
    top: -5px;
}

#afficheListNews{
    margin: 5%;
    margin-top: 20px;
}


#application_plateformebundle_news{
}


#ajouteNews{
    display: none;
}


/**
 / =============== Parie Agenda ==================== /
*/
#agendaForm{
    padding: 6px;
    margin-top: 4px;
}
#agendaForm button{
    background: rgba(51, 51, 51, 0.84);
    color: white;
    margin-left: 70%;
}

#agendaForm button:hover{
    background-color: #e6e6e6;
    color: rgba(51, 51, 51, 0.84);
}
.blocacalendar{
    padding-top: 15px;
    padding-left: 24px;
}

.blocconsultant {
    padding-left: 24px;
    padding-top: 8px;
}

.formPagenda{
     display: none;
     border: 1px solid rgba(128, 128, 128, 0.278431);
     width: 278px;
}

.blocacalendar, .bloc_form_agenda{
    display:inline-block;
    vertical-align: top;
}

.formPagenda .title_formulaire_agenda, #agendaForm .title_formulaire_agenda{
    background: #668cd9;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 17px;
}

#nomconsultant{
    padding-left: 24px;
    padding-top: 15px;
    font-size: 18px;
}

.champs-form{
    background-color: #e4e4e4;
    padding: 10px;
}

#bureauRdv{
    width: 100%;
    height: 36px;
}

.trdv .typerdv{
    margin-left:5%;
}

.formPagenda .new_input{
    margin-bottom: 14px;
}

.url_agenda a{
    background-color: #000041;
    color: white;
    padding-left: 18px;
    padding-top: 5px;
    padding-right: 18px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 16px;
}

/* ============================= Fin Agenda =========================== */

/*formulaire qui n'affiche pas le input mais seulement quand on passe la souris dessus*/
#editBeneficiaire input{
    border: 1px solid transparent;
}
#editBeneficiaire select{
    border: 1px solid transparent;
}
#editBeneficiaire input:hover{
  border: 1px solid ;
}
#editBeneficiaire select:hover{
    border: 1px solid ;
}

/*formulaire qui n'affiche pas le input mais seulement quand on passe la souris dessus*/
#ProjetBeneficiaire input{
    border: 1px solid transparent;
}
#ProjetBeneficiaire select{
    border: 1px solid transparent;
}
#ProjetBeneficiaire input:hover{
    border: 1px solid ;
}
#ProjetBeneficiaire select:hover{
    border: 1px solid ;
}

#afficheAllBureau{
    border:1px solid;
}

/*formulaire qui n'affiche pas le input mais seulement quand on passe la souris dessus*/
#accompagnement input{
    border: 1px solid transparent;
}
#accompagnement select{
    border: 1px solid transparent;
}
#accompagnement input:hover{
    border: 1px solid ;
}
#accompagnement select:hover{
    border: 1px solid ;
}

.inputAccompagnement > input{
    display: inherit;
    width: 50%;
}

.form-rest{
    display: none;
}



#flashbag{
    margin-bottom: 100px;
    margin-top:-80px

}

select.error, textarea.error, input.error {
   color:#FF0000 ;
}

div.error {
   color:#FF0000 ;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: auto;
}

/*bouton rechercher*/
#recherche_beneficiaire_submit{
    color: #fcf8e3;
    background-color: #563333;
}

.sectionBeneficiaire input{
    height: 30px;
}

#afficheBeneficiaire tr{
    height: 30px;
}

#afficheImage{
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

@media print {
    #afficheImage {
        width: 210mm;
        height: 297mm;
    }
}

#pageImage{
    background-color: grey;
}