.ui-tab {
   border: 1px solid #c5c5c5 !important;
    background: #e9e9e9 !important;
}

.ui-state-active {
    border: 1px solid #ffffff !important;
    background: #ffffff !important;
}

.loading{
    background:url('../images/loading.gif')center no-repeat;
    height: 218px;
}

.hide{
    display: none;
}

.navbar-static-top{
    margin-bottom: 8px;
}

#collapseHistorique .table>tbody+tbody {
    border: none;
}

#banner{
    width:100%;
}
#banner form{
    width: 85%;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 13px;
    border-bottom: 1px solid #e7e7e7;
}
#banner form span{
    padding-right: 3px;
    padding-left: 3px;
}
#tablist{
    margin-bottom: 5px;
}
.text-left{
    margin-top: -10px;
    margin-bottom: 10px;
}
.ui-widget.ui-widget-content {
    border: none;
    background-color: inherit;
}
.text-left a:link{
    color: #5cca42;
}

.text-left a{
    color: #5cca42;
}

.text-left a:hover{
    color: #5cca42;
}


#rechercherPlus{
    display: none;
}

.valider button{
    background-color: #454545;
    color: white;
    float: right;
    margin-right: 10px;
    margin-bottom: 10px;
}
#submitAccompagnement{
    text-align: right;
}

#submitAccompagnement button{
    background-color: #454545;
    color: white;
}

#add_document{
    font-size: 12px;
    display: block;
    margin-left: 15px;
    color: #50a60d;
    margin-top: 11px;
}

#espace_documentaire_submit{
    margin-right: 19px;
    float: right;
    background-color: #454545;
    color: white;
}

.sectionBeneficiaire table tbody tr td:first-of-type{
    margin-left: 10px;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    /*margin-bottom: 5px;*/
    font-weight: 700;
    cursor: default;
}
#news #newsForm{
    margin-left: 18px;
}
#news #application_plateformebundle_news_message{
    height: 100px;
}
#news_collapse a:link{
    color: black;
}
#afficheListNews .panel-group {
    margin-bottom: 0;
}
#afficheListNews .panel-heading {
    padding: 7px 15px;
}
#afficheListNews .panel-title {
    font-size: 12px;
}
#afficheListNews td{
    display: inline-block;
}
#afficheListNews .news_date{
    width: 14%;
    margin-left: 0px;
}
#afficheListNews .news_status_name{
    width: 18%;
}
#afficheListNews .news_status_detail{
    width: 23%;
}
#afficheListNews .news_message{
    width: 34%;
}


.sectionBeneficiaire .glyphicon-minus{
    float: left;
    font-size: 9px;
}

.myModalNewsModify1 .close span{
    font-size: 30px;
}

#collapseSuiviAdministratif{
    margin-left: 3%;
}

.glyphiconSuivi{
    float: right;
    cursor: pointer;
}


.elementSuivi{
    display: inline-block;
}

#newDocumentsForm{
    margin-top:10px;
    margin-left: 2%;
    display: inline-block;
    width: 100%;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: 700;
    cursor: default;
}


.sectionBeneficiaire #espace_documentaire a:link{
    width: 140px;
    color: black;
}

#espace_documentaire .collapse a:link{
    color: black;
}

.sectionBeneficiaire{
    font-size: 12px;
    margin: 3%;
    margin-top: 5px;
}

.form-control{
    width: 95%;
    font-size: 12px;
}

.tableOnglet{
    width: 100%;
    border: 1px solid rgba(232, 227, 227, 0.59);
    margin-bottom: 4%;
    background-color: rgba(228, 228, 228, 0.45);
}

.tableOnglet table{
    width: 100%;
    border-collapse: collapse;
    empty-cells: hide;
    color:#333;
}

#afficheBeneficiaire{
    width: 100%;
}

#beneficiaire_numSecu{
    width:125px;
}

#beneficiaire_numSecuCle{
    width: 50px;
}

.titreSection{
    margin-bottom: 10px;
    padding: 5px;
    font-size: 14px;
    background-color: #50a60d;
    color: #f6f6f6;
    text-align: center;
}
.titreSection a{
    color: #fbfbfb;
    text-decoration: none;
    display:block;
}

.tableSection{
    display: table-cell;
    text-decoration: underline;
}

#suiviAdministratif a{
    color: white;
}
.newsBoucle > div{
    top: 7px;
}
.newsBoucle .glyphicon{
    top: -5px;
}
.news_remove_modify{
    float: right;
}
.ui-tabs .ui-tabs-panel{
    padding: 0em 0em;
}

#application_plateformebundle_news{
}


#ajouteNews{
    display: none;
}

#ajoutebureau{
    border: 1px solid black;
}

.btn .col-sm-1{
    float: right;
}


/**
 / =============== Parie Agenda ==================== /
*/
.blocdisponibilites{
    visibility: hidden;
}
.formDisponibilite{
    margin-top: 15px;
}
.disponibilite{
    float:right;
}
.blocdispo{
    float: right;
}

.afficherfom, .reduirefom{
    float:right;
    cursor: pointer;
    font-size: 21px !important;
    margin-top: -3px !important;
}
.msg-erreur{
    padding-left: 32px;
    position: absolute;
    padding-right: 32px;
    padding-top: 7px;
    padding-bottom: 7px;
    top: -8px;
    left: 105px;
}
.modif-event-maj, .modif-event-sup{
    vertical-align: top;
    display:inline-block;
}
.cursor_pointer{
    cursor:pointer;
}
.btn_supp{
    margin-left:5px;
}
.champs-historiqueT #historique_summary, .champs-historiqueT #historique_description, 
.champs-historiqueT #historique_dateDebut, .champs-historiqueT #historique_heureDebut,
.champs-historiqueT #historique_heureFin{
    margin-top:6px;
}
#autrebureau{
    display: none;
}
#historique_autreSummary{
    display: none;
}
.allchampH{
    width:100% !important;
}
.msg-errors{
    padding-left: 42px;
    padding-right: 10px;
}
.datefin{
    display:none;
}
#agendaForm button, #application_plateformebundle_disponibilites_Enregistrer{
    background: rgba(51, 51, 51, 0.84);
    color: white;
}
#agendaForm button{
    margin-left: 70%;
}
#agendaForm button:hover, #application_plateformebundle_disponibilites_Enregistrer:hover{
    background-color: #e6e6e6;
    color: rgba(51, 51, 51, 0.84);
}
.blocacalendar{
    padding-top: 15px;
    padding-left: 24px;
}
.blocconsultant {
    padding-left: 24px;
    margin-bottom: 17px;
}
.formPagenda{
     display: none;
     border: 1px solid rgba(128, 128, 128, 0.278431);
}
.formPagenda .title_formulaire_agenda, #agendaForm .title_formulaire_agenda{
    background: #668cd9;
    width: 100%;
    color: white;
    padding: 10px;
    font-size: 17px;
}
#nomconsultant{
    padding-left: 24px;
    display:none;
    font-size: 18px;
}
.champs-form, .blocdispo{
    background-color: #e4e4e4;
    padding: 10px;
}
#bureauRdv{
    height: 36px;
}
.champs-form span{
    font-weight: bold;
    font-seize: 17px;
}
.trdv .typerdv{
    margin-left:5%;
}
.formPagenda .new_input{
    margin-bottom: 14px;
}
.url_agenda a{
    background-color: #000041;
    color: white;
    padding-left: 18px;
    padding-top: 5px;
    padding-right: 18px;
    padding-bottom: 5px;
    border-radius: 5px;
    margin-left: 16px;
}
.ui-menu-item-wrapper{
	background: #668cd9;
	color: white;
}
/* ============================= Fin Agenda =========================== */

/*formulaire qui n'affiche pas le input mais seulement quand on passe la souris dessus*/
#editBeneficiaire input{
    border: 1px solid transparent;
}
#editBeneficiaire select{
    border: 1px solid transparent;
}
#editBeneficiaire input:hover{
  border: 1px solid ;
}

#editBeneficiaire #inputVilleBeneficiaire > input{
    border: none;
}

#editBeneficiaire select:hover{
    border: 1px solid ;
}

/*formulaire qui n'affiche pas le input mais seulement quand on passe la souris dessus*/
#ProjetBeneficiaire input{
    border: 1px solid transparent;
}
#ProjetBeneficiaire select{
    border: 1px solid transparent;
}
#ProjetBeneficiaire input:hover{
    border: 1px solid ;
}
#ProjetBeneficiaire select:hover{
    border: 1px solid ;
}

#afficheAllBureau{
    border: 1px solid;
}

.corpsAfficheBureau{
    margin-left: 1%;
}

/*formulaire qui n'affiche pas le input mais seulement quand on passe la souris dessus*/
#accompagnement input{
    border: 1px solid transparent;
}
#accompagnement select{
    border: 1px solid transparent;
}
#accompagnement input:hover{
    border: 1px solid ;
}
#accompagnement select:hover{
    border: 1px solid ;
}

.inputAccompagnement{
    text-align: right;
    float: right;
}
.inputAccompagnement > input{
    width: 50%;
    display: inline-block;
    text-align: right;
}
#accompagnement_heure label, #accompagnement_heure div{
    display: inline-block;
}
#accompagnement_heure div{
    width: 50%;
}

.tarif{

}
.tarifMontant{
    float: right;
}

.form-rest{
    display: none;
}



#flashbag {
}

select.error, textarea.error, input.error {
   color:#FF0000 ;
}

div.error {
   color:#FF0000 ;
}
label.error{
    color:#FF0000 ;
}

.form-control[disabled], .form-control[readonly], fieldset[disabled] .form-control {
    cursor: auto;
}

/*bouton rechercher*/
#recherche_beneficiaire_submit{
    color: #ffffff;
    font-weight: bold;
    background-color: #f0c41a;
    border: none;
    letter-spacing: 1px;
}

.sectionBeneficiaire input{
    height: 25px;
}

#afficheBeneficiaire tr{
    height: 25px;
}

#afficheImage{
    width: 595px;
    /* to centre page on screen*/
    margin-left: auto;
    margin-right: auto;
}

@media print {
    #afficheImage {
        width: 210mm;
        height: 297mm;
    }
}

#pageImage{
    background-color: #525659;
    margin-top: -10px;
}

#accompagnement .form-group{
    margin-bottom: 12px;
}

#accompagnement .form-group .form-group label{
    margin-left: 8%;
}

#accompagnement .form-group .form-group select{
    height: 26px;
}

.sectionBeneficiaire select{
    font-size: 11px;
    height: 26px;
}

.organisme_input {
    width: 200px;
    display: inline-block;
    float: right;
}

#add_financement_button{
    color: blue;
}

#collapseHistorique a:link{
    text-decoration: none;
    color: black;
    font-size: 12px;
}

.panel-heading{
    background-color: white;
}

a.deleteBtn{
    width: 120px;
}


.loader,
.loader:after {
    border-radius: 50%;
    width: 10em;
    height: 10em;
}
.loader {
    margin: 60px auto;
    font-size: 10px;
    position: relative;
    text-indent: -9999em;
    border-top: 1.1em solid rgba(255, 255, 255, 0.2);
    border-right: 1.1em solid rgba(255, 255, 255, 0.2);
    border-bottom: 1.1em solid rgba(255, 255, 255, 0.2);
    border-left: 1.1em solid #ffffff;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load8 1.1s infinite linear;
    animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
@keyframes load8 {
    0% {
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

/* The Overlay (background) */
.overlay {
    /* Height & width depends on how you want to reveal the overlay (see JS below) */
    height: 100%;
    width: 0;
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    background-color: rgb(0,0,0); /* Black fallback color */
    background-color: rgba(0,0,0, 0.9); /* Black w/opacity */
    overflow-x: hidden; /* Disable horizontal scroll */
    transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */
}

/* Position the content inside the overlay */
.overlay-content {
    position: relative;
    top: 25%; /* 25% from the top */
    width: 100%; /* 100% width */
    text-align: center; /* Centered text/links */
    margin-top: 30px; /* 30px top margin to avoid conflict with the close button on smaller screens */
}

/* The navigation links inside the overlay */
.overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block; /* Display block instead of inline */
    transition: 0.3s; /* Transition effects on hover (color) */
}

/* When you mouse over the navigation links, change their color */
.overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
}

/* Position the close button (top right corner) */
.overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}

/* When the height of the screen is less than 450 pixels, change the font-size of the links and position the close button again, so they don't overlap */
@media screen and (max-height: 450px) {
    .overlay a {font-size: 20px}
    .overlay .closebtn {
        font-size: 40px;
        top: 15px;
        right: 35px;
    }
}

.modifierConsultant{
    color: #337ab7;
    border-bottom: 1px solid #337ab7;
    cursor: pointer;
}

#modalEditConsultant{
    margin-bottom: 80px;
}

#labelConsultant{
    width: 50%;
}

textarea {
    resize: none;
}

.sectionBeneficiaire #collapseAgenda > div{
    margin-left: 2%;
    margin-bottom: 12px;
}

.contact_employeur{
    margin-left: 10px;
    margin-right: 11px;
}
.contactWidget{
    width:57%;
    display: inline-block;
    float: right;
}

#afficheBeneficiaire .form-group {
    margin-bottom: 5px;
}

#afficheBeneficiaire .form-control {
    padding:0px 12px;
}
#accompagnementEditForm > div{
    margin-left: 10px;
    margin-right: 11px;
}
#form_villeBureau{
    margin-bottom: 15px;
}
#liste_autre_bureau_ville{
    margin-top: 10px;
    font-weight: 600;
    text-decoration: underline;
    display: none;
}
#imprimer{
    display: none;
}
#tri{
    font-size: 12px;
    text-align: center;
}
#tri div{
    display: inline-block;
    margin-top: -20px;
}
#tri #label_select_tri_date{
    margin-left: 10px;
}
#excel{
    cursor: pointer;
    border: 1px solid green;
    padding: 0 5px;
    margin-left: 5%;
}
#doc_accompagnement{
    margin-left: 2%;
    margin-top: 15px;
}
#evenementcalandar{
    margin-bottom: 0;
}
#contact_financeur{
    margin-top: -10px;
}
#contact_financeur .form-group{
    width: 40%;
    min-width: 100px;
    display: inline-block;
}
#afficheBeneficiaire .input-group-addon{
    font-size: 11px;
    cursor: context-menu;
    color: black;
}
#suiviAdministratifNewForm #add_mission_tarif .link-mission{
    cursor: pointer;
    font-weight: bold;
    text-decoration: underline;
    color: #337ab7;
}
#afficheBeneficiaire #input_tarif_modal,
#suiviAdministratifNewForm #add_mission_tarif#suivi_administratif_tarif{
    text-align: right;
}
#suiviAdministratifNewForm #add_mission_tarif #link_mission_delete{
    margin-left: 5px;
}
#link_client_modify_delete{
    margin-top: 5px;
}
#suiviAdministratifNewForm #add_mission_tarif #tarif_mission{
    margin-top: 10px;
}
#tarif_financement{
    margin-top: 8px;
    display: none;
}
#ModalTarif .modal-body{
    margin-bottom: 40px;
}
#newsForm #message_news{
    display: none;
}
