application_show_beneficiaire:
    path:     /show/{id}
    defaults: { _controller: "ApplicationPlateformeBundle:Beneficiaire:show" }
    options:
        expose:  true

application_list_beneficiaire:
    path:     /ajaxSearch
    defaults: { _controller: "ApplicationPlateformeBundle:Beneficiaire:ajaxSearch" }
    options:
        expose:  true

application_ajaxSearch_beneficiaire:
    path:     /ajax2Search
    defaults: { _controller: "ApplicationPlateformeBundle:Beneficiaire:search2" }
    options:
        expose:  true

application_edit_consultant_beneficiaire:
    path:     /add-consultant/{id}
    defaults: { _controller: "ApplicationPlateformeBundle:Beneficiaire:editConsultant" }

application_projet_beneficiaire:
    path:     /editProjet/{id}
    defaults: { _controller: "ApplicationPlateformeBundle:Beneficiaire:projet" }

application_search_beneficiaire:
    path:     /search/{page}
    defaults: { _controller: "ApplicationPlateformeBundle:Beneficiaire:search" }
    requirements:
        page: \d*
    options:
        expose:  true