fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

user_type:
    path: /user/type/{typeUser}
    defaults: 
        _controller: ApplicationUsersBundle:Users:index 
        typeUser: consultant
            
user_show:
    path: /user/{id}/show
    defaults: {_controller: ApplicationUsersBundle:Users:show }
    requirements:
        id: \d+
    
user_edit:
    path: /user/{id}/edit
    defaults: {_controller: ApplicationUsersBundle:Users:edit }
    requirements:
        id: \d+
        
user_delete:
    path: /user/{id}/delete
    defaults: {_controller: ApplicationUsersBundle:Users:delete }
    requirements:
        id: \d+