fos_user:
    resource: "@FOSUserBundle/Resources/config/routing/all.xml"

#document
application_user_document:
    resource: "@ApplicationUsersBundle/Resources/config/routing/document.yml"
    prefix:   /user/document

#mission
application_user_mission:
    resource: "@ApplicationUsersBundle/Resources/config/routing/mission.yml"
    prefix:   /mission
    
user_type:
    path: /type/{typeUser}
    defaults: 
        _controller: ApplicationUsersBundle:Users:index 
        typeUser: consultant

user_ajax_get_user:
    path: /get_user/{id}
    defaults: { _controller: "ApplicationUsersBundle:Users:ajaxGetUser" }
    options:
        expose: true
            
user_show:
    path: /{id}/show
    defaults: {_controller: ApplicationUsersBundle:Users:show }
    requirements:
        id: \d+
    
user_edit:
    path: /{id}/edit
    defaults: {_controller: ApplicationUsersBundle:Users:edit }
    requirements:
        id: \d+
        
user_turn_off:
    path: /{id}/turn_off
    defaults: {_controller: ApplicationUsersBundle:Users:turnOff }
    requirements:
        id: \d+

my_account:
    path: /account/
    defaults: {_controller: ApplicationUsersBundle:Users:myAccount }
    
my_account_edit:
    path: /account/edit
    defaults: {_controller: ApplicationUsersBundle:Users:myAccountEdit }
