services:
#    application_users.example:
#        class: Application\UsersBundle\Example
#        arguments: ["@service_id", "plain_value", "%parameter%"]
    application_users.type.user:
        class: Application\UsersBundle\Form\UsersType
        arguments: ["@doctrine.orm.entity_manager"]
        tags:
            - { name: form.type }

    application.users.statut:
        class: Application\UsersBundle\Services\Statut

    application_users.twig.users.extesion:
        class: Application\UsersBundle\Twig\UsersExtension
        arguments:
            - "@application.users.statut"
        tags:
            - { name: twig.extension }

    application_users.mailer.mail_for_mission:
            class: Application\UsersBundle\Services\Mailer\MissionMailer
            parent: application_plateforme.mail