
    <table>
        <tr>
            <td>{{ form_label(form_consultant.consultant) }}</td>
            <td>{{ form_widget(form_consultant.consultant) }}</td>
        </tr>
        <tr>
            <td>{{ form_rest(form_consultant) }}</td>
        </tr>
        <tr>
            <td>&nbsp;</td>
            <td class="valider">{{ form_widget(form_consultant.submit) }}</td>
        </tr>
    </table>
