
<div class="modal-body">
    <div>
        <span class="col-md-6" style="margin-top: 10px">{{ form_label(form_consultant.consultant) }}</span>
        <span class="col-md-6">{{ form_widget(form_consultant.consultant) }}</span>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
    {{ form_widget(form_consultant.submit) }}
</div>
<div>{{ form_rest(form_consultant) }}</div>