<div id="tabs_mission">
    <ul>
        <li><a href="#tabs-1">Nouvelle <span class="badge">{{ nbNew }}</span></a></li>
        <li><a href="#tabs-2">En attente de confirmation <span class="badge">{{ nbAccepted }}</span></a></li>
        <li><a href="#tabs-3">En cours <span class="badge">{{ nbConfirmed }}</span></a></li>
    </ul>
    <div id="tabs-1">
        {% include "ApplicationUsersBundle:Mission:table.html.twig" with {'state': 'new', 'idConsultant' : consultant.id}  %}
    </div>
    <div id="tabs-2">
        {% include "ApplicationUsersBundle:Mission:table.html.twig" with {'state': 'accepted', 'idConsultant' : consultant.id}  %}
    </div>
    <div id="tabs-3">
        {% include "ApplicationUsersBundle:Mission:table.html.twig" with {'state': 'confirmed', 'idConsultant' : consultant.id}  %}
    </div>
</div>