
{% for document in beneficiaire.documents %}
    <tr>
        <td></td>
    </tr>
{% endfor %}





        <div>
            {{ form_start(document_form) }}
            {{ form_row(document_form) }}
        </div>
