{% extends "ApplicationPlateformeBundle::layout.html.twig" %}

{% block body %}
    <input type="hidden" name="document" id="document" value="{{ document.id }}">
    <div id="pageImage">
        <div id="afficheImage">
            {{ afficherDocument(beneficiaire, document.path) }}

        </div>
    </div>
{% endblock %}

{% block javascripts %}
<script>
    jQuery(window).load(function() {
        var documentId = $("#document").val();

        $.ajax({
            type: 'get',
            url: Routing.generate("application_up_document", { id: documentId }),
            beforeSend: function(){
                console.log('ça charge');
                //$(".detailStatut").append(
            }
        }).done(function(data) {
            console.log(data);
        });
    });
</script>
{% endblock %}