form[name='facturation'] .modal-body label{
    font-weight: normal;
    font-size: 13px;
    margin: 5px 0 0;
}

form[name='facturation'] .modal-body .legend{
    margin-top: 20px;
    border-bottom: 3px solid;
    margin-bottom: 5px;
}
form[name='facturation'] .modal-body p{
    margin: 0;
    font-size: 14px;
    font-weight: 700;
}
form[name='facturation'] .modal-body .error{
    border: 1px solid red;
}
form[name='facturation'] .modal-body span.error{
    display: none;
}

#link_modal_facturation{
    padding: 0 12px ;
}

form[name='facturation'] #autre_fonction{
    display: none;
}