{# empty Twig template #}
<form method="POST" id="agendaForm" action="{{ path('application_plateforme_agenda_evenement', { 'id' : beneficiaire }) }}" >
   <div>
       {{ form_widget(form) }}
   </div>
</form>