{% from 'ApplicationPlateformeBundle:Historique:table.html.twig' import table %}
{% if historiques is not empty %}
    <div class="msg-erreur"></div>
    <table class="table table-striped" id="evenementcalandar">
        <thead>
            <tr>
                <th style="border:none;">Date</th>
                <th style="border:none;">Heure debut</th>
                <th style="border:none;">Heure fin</th>
                <th style="border:none;">Bureau</th>
                <th style="border:none;">Rdv</th>
                {% if(is_granted('ROLE_ADMIN') or is_granted('ROLE_CONSULTANT') or is_granted('ROLE_COMMERCIAL')) %}
                    <th style="border:none;">Actions</th>
                {% endif %}
            </tr>
        </thead>
        {#creer le corps du tablea#}
        <tbody>
            {{ table(historiques, 0, 5) }}
        </tbody>
        <tbody class="collapse" id="collapseTableHistorique">
            {{ table(historiques, 5, historiques|length) }}
        </tbody>
    </table>
    {% if historiques|length > 5 %}
        <a class="btn btn-default" href="#collapseTableHistorique" onclick="plusMoins(this);" data-toggle="collapse" role="button" aria-expanded="false" aria-controls="collapseTableHistorique">
            Voir +/-
        </a>
    {% endif %}
{% else %}
    <span style="margin-left: 6px;">Aucun historique</span>
{% endif %}


