{% extends "::mail/layout.html.twig" %}
{% block ref %}{{ reference }}{% endblock %}
{% block contentMail %}
    Bonjour Virgine,<br><br>
    {% if suivis|length > 1 %}
        Cela fait 15 jours que ces dossiers sont en statut : 'Financement - Attente accord'<br>
        Il faut secouer les Financeurs des dossiers suivants :
    {% else %}
        Cela fait 15 jours que ce dossier est en statut : 'Financement - Attente accord'<br>
        Il faut secouer les Financeurs du dossier suivant :
    {% endif %}
    <br>
    {% for suivi in suivis %}
        <p style='margin-left:10px;'>&bull; {{ suivi.beneficiaire.civiliteConso|capitalize~' '~suivi.beneficiaire.prenomConso|capitalize~' '~suivi.beneficiaire.nomConso|capitalize~' - '~suivi.beneficiaire.typeFinanceur|upper~' : '~suivi.beneficiaire.organisme|upper~' - '~suivi.date|date('d/m/Y') }}  </p>
    {% endfor %}
{% endblock %}