{% extends "::mail/layout.html.twig" %}
{% block ref %}{{ reference }}{% endblock %}
{% block contentMail %}
    Bonjour Virgine,<br><br>
    {% if suivis|length > 1 %}
        Voici la liste de tous les dossiers en statut : 'Financement - Attente accord :'
    {% else %}
        Voici le dossier en statut : 'Financement - Attente accord :'
    {% endif %}
    <br>
    {% for suivi in suivis %}
        <p style='margin-left:10px;'>&bull;
            <a href="https://appli.entheor.com/web/beneficiaire/show/{{  suivi.beneficiaire.id }}">
                {{ suivi.beneficiaire.civiliteConso|capitalize~' '~suivi.beneficiaire.prenomConso|capitalize~' '~suivi.beneficiaire.nomConso|capitalize}}
            </a>
            - {{ suivi.beneficiaire.typeFinanceur|upper~' '~suivi.beneficiaire.organisme|upper~' depuis le '~suivi.date|date('d/m/Y') }}  </p>
    {% endfor %}
{% endblock %}