{% extends "::mail/layout.html.twig" %}

{% block contentMail %}
    <h4>Sujet : {{ sujet }}</h4>
    <p>
       Bonjour {{ consultant.nom ~ consultant.prenom}},<br><br>
        
       {{ message }}
    <p>
{% endblock %}

