{% extends "::mail/layout.html.twig" %}

{% block contentMail %}
    Bonjour {{ beneficiaire.consultant.prenom|capitalize }}, <br><br>
    <div>
        Sauf erreur de notre part, vous navez pas encore mis à jour les informations de la fiche de <b>{{ beneficiaire.civiliteConso|capitalize~' '~beneficiaire.prenomConso|capitalize~' '~beneficiaire.nomConso|capitalize~' ' }}</b>.
        <br><br>
        <b>
            L'absence de votre retour d'information bloque l'avancement du dossier.
            <br>
            <br>
            Cette étape est primoridiale pour pouvoir vous transmettre des dossiers d'accompagnement.
        </b>
        <b>
            Je vous remercie donc de mettre à jour les informations du bénéficiaire sur <a href="http://dev.application.entheor.com/web/beneficiaire/show/{{ beneficiaire.id }}" target="_blank">ENTHEO</a>
        </b>:
        <br>
        <br>
        <ul type="disc">
            <li><span>Statut du bénéficiaire à l'issue du RV (positif, négatif, indécis, à reporter...)</span></li>
            <li><span>Compléter les informations clés du bénéficiaire : Coordonnées, CSP, type de Contrat, n° de sécu, date de naissance, informations employeur, OPCA...</span></li>
        </ul>
        <br>
        <br>
        <u>
            En cas d'impossibilité à nous transmettre ces informations, veuillez nous téléphoner pour une mise à jour à distance
        </u>
        <br><br>
        <span>Bien Cordialement,</span>
        <br><br>
        <span>Christine Clément</span>
        <br><br>
        <a href="mailto:christine.clement@entheor.com">christine.clement@entheor.com</a>
        <br>
        <span>06 81 84 85 24</span>
    </div>
{% endblock %}