<form action="{{ path('application_new_disponibilites', { 'id' : consultant.id }) }}" method="POST" id="form_dispo">
    {% include "ApplicationPlateformeBundle:Disponibilites:form/champs.html.twig" %}
    <div id="champs_submit_dispo">
        {{ form_row(form_dispo.submit) }}
    </div>
    {{ form_rest(form_dispo) }}
    <a href="#tablist_disponibilite" id="voir_disponibilite" class="btn btn-warning">
        <span>Liste de vos disponibilités</span>
    </a>
</form>
